Repository Automattic/happychat-client, pull requests merged in 2018-05, with the labels that each got.

#194 Fix bundle analyzer
  .gitignore
  package.json
  webpack.standalone.config.js
Labels: [Status] Needs Review

#199 check entryOptions ticket paths before accessing array keys
  targets/wordpress/class-happychat-client.php
Labels: [Status] Needs Review, [Target] WordPress

#215 Documents value and label type
  docs/API.md
Labels: [Target] Core

#216 Add isRequired option for open text fields
  docs/API.md
  src/ui/components/contact-form/index.jsx
  targets/standalone/example.html
Labels: [Target] Core
